
    {{#if update}}
    <h1 style="text-align: center;">Update Student Accounnt</h1>
    <form action="/students/update" method="POST">
    <div>
        <label for="username">UserName</label><br>
        <input type="text" id="username" class="form-control" name="username" required value="{{student.username}}">
    </div><br>
    <div>
        <label for="password">Password</label><br>
        <input type="text" id="password" class="form-control" name="password" required  value="{{student.password}}">
    </div><br>
    <div>
        <label for="acnumber">Acadimic Number</label><br>
        <input type="number" id="acnumber" class="form-control" name="acadimic_number" required value="{{student.acadimic_number}}"> 
    </div><br>
    <div> 
    <button type="submit" class="btn btn-success">update</button>    
    </form>    
    {{else}}
    <h1 style="text-align: center;">Create Student Accounnt</h1>
    <form action="/students/save" method="POST">
    <div>
        <label for = "username">UserName</label><br>
        <input type="text" id="username" class="form-control" name="username" required >
    </div><br>
    <div>
        <label for="password">Password</label><br>
        <input type="text" id="password" class="form-control" name="password" required  >
    </div><br>
    <div>
        <label for="acnumber">Acadimic Number</label><br>
        <input type="number" id="acnumber" class="form-control" name="acadimic_number" required>
    </div><br>
    <div>   
    {{#if checkreuslt}}
    <div class="alert alert-success" role="alert">can not be inserted</div>
    {{/if}}
    <button type="submit" class="btn btn-success">Save</button>
    </div>
    </form>
    {{/if}} 

