<h1 style="text-align: center;">Create Student Accounnt</h1>
<form action="/students" method="POST">
    <div>
        <label for = "">UserName</label><br>
        <input type="text" class="form-control" name="username" required>
    </div><br>
    <div>
        <label for="">Password</label><br>
        <input type="text" class="form-control" name="password" required>
    </div><br>
    <div>
        <label for="">Acadimic Number</label><br>
        <input type="text" class="form-control" name="acadimic_number" required>
    </div><br>

    <div>
    <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>