<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        label {
            display: inline-block;
            text-align: center;
            padding: 10px 210px;
            background-color: #f2f2f2;
            color: #333;
            font-size: 18px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
    </style>
</head>

<body>
        <label for="out">What do you want to do </label><br><br>
        <a href="/students/register">
            <button class="btn btn-dark">Enroll new Course</button>
        </a>
        <br>
        <br>
        <a href="/students/print">
            <button class="btn btn-dark">View Enrolled Courses</button>
        </a>
        <br>
        <br>
        <a href="/students/view">
            <button class="btn btn-dark">View Pervious Courses</button>
        </a>

 </body>

</html>