<h1 style="text-align: center;">Create</h1>
<form action="/departments" method="POST">
    <div>
        <label for="">Name</label><br>
        <input type="text" class="form-control" name="name" required>
    </div>
    <br>
    <div>
        <label for="">Code</label><br>
        <input type="text" class="form-control" name="code" required>
    </div>
    <br>
    <div>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>