<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">UNI</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/doctors">Doctors</a></li>
      <li><a href="/departments">Department</a></li>
      <li><a href="/students">Student</a></li>
      <li><a href="/subjects">Subject</a></li>
    </ul>
  </div>
</nav>


<div class="container  p-5 my-5 border">
<h1 style="text-align: center;">Create</h1>
<form action="/departments" method="POST">
    <div>
        <label for="">Name</label><br>
        <input type="text" class="form-control" name="name" required>
    </div>
    <br>
    <div>
        <label for="">Code</label><br>
        <input type="text" class="form-control" name="code" required>
    </div>
    <br>
    <div>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>  
</div>