<table style="width:100%">
    <tr>
        <td style="width:20%">
            Name:
        </td>
        <td>
            {{found.name}}
        </td>
    </tr>
    <tr>
        <td style="width:20%">
            Code:
        </td>
        <td>
            {{found.code}}
        </td>
    </tr>
</table>