<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">UNI</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/doctors">Doctors</a></li>
      <li><a href="/departments">Department</a></li>
      <li><a href="/students">Student</a></li>
      <li><a href="/subjects">Subject</a></li>
    </ul>
  </div>
</nav>


<div class="container  p-5 my-5 border">
<h1 style="text-align: center;">Details</h1>
<table class="table table-hover">
    <tr>
        <td style="width:20%">
            Name:
        </td>
        <td>
            {{found.name}}
        </td>
    </tr>
    <tr>
        <td style="width:20%">
            Code:
        </td>
        <td>
            {{found.code}}
        </td>
    </tr>
</table>
</div>