<h1 style="text-align: center;">Doctors</h1>
<table style="width:100%">
    {{#each doctors}}
    <tr>
        <td style="width:50%">
            {{name}}
        </td>
        <td>
            <a href="/doctors/{{_id}}">
                <button class="btn btn-info">Details</button>
            </a>

        </td>
    </tr>
    {{/each}}
</table>
<br>
<a href="/doctors/create">
    <button class="btn btn-dark">Add</button>
</a>
