<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">UNI</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/doctors">Home</a></li>
    </ul>
  </div>
</nav>


<div class="container  p-5 my-5 border">
<h1 style="text-align: center;">Doctors</h1>
<table class="table table-hover">
    {{#each doctors}}
    <tr>
        <td style="width:50%">
            {{name}}
        </td>
        <td>
            <a href="/doctors/{{_id}}">
                <button class="btn btn-info">Details</button>
            </a>

        </td>
    </tr>
    {{/each}}
</table>
<br>
<a href="/doctors/create">
    <button class="btn btn-dark">Add</button>
</a>
</div>